* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", serif;
  background-image: url(./images/bg.png);
  margin: 0;
  padding: 22px 0;
}

.main-wrapper {
  outline: 2px dashed #e9a68b;
  border-top: 2px dashed #ab694f;
  border-bottom: 2px dashed #ab694f;
}

.container {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  color: #393a3a;
  text-shadow: 3px 3px 0 #fcfaf7, 6px 6px 0 #393a3a;
  font-size: 18rem;
  text-transform: uppercase;
  margin: 75px 0 67px;
  position: relative;
}

header h1:after {
  content: "";
  position: absolute;
  width: 258px;
  height: 21px;
  top: 100%;
  left: 50%;
  margin-left: -129px;
  background: url("./images/title.png") no-repeat;
}

header p {
  color: #38353e;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.filter {
  margin: 84px 0 34px;
  display: flex;
  color: #383a3c;
}

.filter p {
  font-size: 32px;
  margin-right: 18px;
}

.filter ul {
  flex: 1;
  display: flex;
  align-items: center;
}

.filter li {
  font-size: 2.4rem;
  line-height: 48px;
  font-weight: 700;
  margin-right: 20px;
  margin-left: 23px;
  list-style: none;
  background-color: #fbfaf6;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 48px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 15px 0 15px;
  position: relative;
}

.filter li:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 0;
  border-style: solid;
  border-width: 24px 23px 24px 0;
  border-color: transparent #fbfaf6 transparent transparent;
}

.filter li:after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #959ca3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
    flex: 0 0 440px;
    border-radius: 4px;
    background-color: #fbfaf6;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 8px;
    margin-bottom: 40px;
}

.gallery-icon {
    width: 88px;
    height: 88px;
    background-color: #fbfaf6;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	top: -24px;

}

.gallery-item h4 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #383a3c;
    text-align: center;
    margin-bottom: 25px;
}

.button-wrapper {
    margin: 86px 0;
    text-align: center;
}

.button-wrapper button {
    background-color: transparent;
    border: none;
    color: #38353e;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.button-wrapper button:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 80px;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background-color: #383a3c;
}