@font-face {
  font-family: "Proxima Nova";
  src: local('Proxima Nova'),
    url("/lesson_7/practice/fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
  font-family: "Futura PT Heavy";
  src: local('Futura Heavy'), 
    url("/lesson_7/practice/fonts/Futura/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
  font-family: "Georgia Regular";
  src: local('Georgia Regular'), 
    url("/lesson_7/practice/fonts/Georgia/georgia.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem 'Georgia Regular', serif;
}

.container {
  width: 1060px;
  margin: 0 auto;
  padding-left: 67px;
}

article {
  border-left: 2px solid #e8eced;
  padding: 202px 120px 55px 54px;
}

address {
  font: normal 2rem "Proxima Nova", sans-serif;
  letter-spacing: 0.6rem;
  color: #b4b4b4;
  text-transform: uppercase;
  margin-bottom: 47px;
}

h1 {
  font: 7.8rem/1 'Futura PT Heavy', sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #2a2a2a;
  margin-bottom: 21px;
}

header > p {
  font-size: 3rem;
  font-style: italic;
  color: #8f8f8f;
  margin-bottom: 55px;
}

article > p {
  font-size: 2.7rem;
  line-height: 4rem;
  text-align: justify;
  margin-bottom: 39px
}
